<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <script src=""></script>
    <title>Portfolio</title>
  </head>
  <body>
    <div class="frame">
      <div class="main_frame">
        <!-- Left Frame -->
        <div class="left_frame">
          <!-- Left 1 -->
          <div class="left1">
            <div class="userLogo">
              <img src="author/images/profile.png" alt="user logo" />
              <span class="statusIndicator"></span>
            </div>

            <div class="userName"><%=user.name%></div>

            <div class="userJob"><%=user.profession%></div>

            <div class="userIcons">
              <a href="#" class="link_href">
                <div class="icon">
                  <img
                    src="author/icon/Icons-facebook.svg"
                    alt="facebook"
                    class="icon1"
                  />
                </div>
              </a>

              <a href="#" class="link_href">
                <div class="icon">
                  <img
                    src="author/icon/Icons-instagram.svg"
                    alt="facebook"
                    class="icon1"
                  />
                </div>
              </a>

              <a href="#" class="link_href">
                <div class="icon">
                  <img
                    src="author/icon/Icons-twitter.svg"
                    alt="facebook"
                    class="icon1"
                  />
                </div>
              </a>

              <a href="#" class="link_href">
                <div class="icon">
                  <img
                    src="author/icon/Icons-linkedin.svg"
                    alt="facebook"
                    class="icon1"
                  />
                </div>
              </a>

              <a href="#" class="link_href">
                <div class="icon">
                  <img
                    src="author/icon/Icons-Youtube.svg"
                    alt="facebook"
                    class="icon1"
                  />
                </div>
              </a>

              <a href="#" class="link_href">
                <div class="icon">
                  <img
                    src="author/icon/Icons-dribbble.svg"
                    alt="facebook"
                    class="icon1"
                  />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>

          <!-- Left 2 -->
          <div class="left2">
            <div class="dataWraper">
              <div class="dataTitle">Age:</div>
              <div class="data"><%=user.age%></div>
            </div>

            <div class="dataWraper">
              <div class="dataTitle">Residence:</div>
              <div class="data"><%=user.residence%></div>
            </div>

            <div class="dataWraper">
              <div class="dataTitle">Freelance:</div>
              <div class="data" style="color: #7eb942">Available</div>
            </div>

            <div class="dataWraper">
              <div class="dataTitle">Address:</div>
              <div class="data"><%=user.adress%></div>
            </div>
          </div>
          <div class="marginer"></div>

          <!-- Left 3 -->
          <div class="left3" style="margin-bottom: 15px">
            <div class="title">Languages</div>
            <div class="dataWrapper" style="margin-top: 15px">
              <div class="language"><%=user.languages[0]%></div>
              <div class="langPercentage">100%</div>
            </div>
            <!-- <div class="line"></div> -->
            <div class="line">
              <div class="line-fill" style="width: 100%"></div>
            </div>

            <div class="dataWrapper">
              <div class="language"><%=user.languages[1]%></div>
              <div class="langPercentage">80%</div>
            </div>
            <!-- <div class="line"></div> -->
            <div class="line">
              <div class="line-fill" style="width: 80%"></div>
            </div>

            <div class="dataWrapper" style="margin-top: 15px">
              <div class="language"><%=user.languages[2]%></div>
              <div class="langPercentage">60%</div>
            </div>
            <!-- <div class="line"></div> -->
            <div class="line">
              <div class="line-fill" style="width: 60%"></div>
            </div>
          </div>
          <div class="marginer"></div>

          <!-- Left 4 -->
          <div class="left3" style="margin-bottom: 15px">
            <div class="title">Skills</div>
            <div class="dataWrapper" style="margin-top: 15px">
              <div class="language"><%=user.skills[0]%></div>
              <div class="langPercentage">90%</div>
            </div>
            <!-- <div class="line"></div> -->
            <div class="line">
              <div class="line-fill" style="width: 90%"></div>
            </div>

            <div class="dataWrapper">
              <div class="language"><%=user.skills[1]%></div>
              <div class="langPercentage">85%</div>
            </div>
            <!-- <div class="line"></div> -->
            <div class="line">
              <div class="line-fill" style="width: 85%"></div>
            </div>

            <div class="dataWrapper" style="margin-top: 15px">
              <div class="language"><%=user.skills[2]%></div>
              <div class="langPercentage">80%</div>
            </div>
            <!-- <div class="line"></div> -->
            <div class="line">
              <div class="line-fill" style="width: 80%"></div>
            </div>

            <div class="dataWrapper" style="margin-top: 15px">
              <div class="language"><%=user.skills[3]%></div>
              <div class="langPercentage">75%</div>
            </div>
            <!-- <div class="line"></div> -->
            <div class="line">
              <div class="line-fill" style="width: 75%"></div>
            </div>

            <div class="dataWrapper" style="margin-top: 15px">
              <div class="language"><%=user.skills[4]%></div>
              <div class="langPercentage">85%</div>
            </div>
            <!-- <div class="line"></div> -->
            <div class="line">
              <div class="line-fill" style="width: 85%"></div>
            </div>
          </div>
          <div class="marginer"></div>

          <!-- Left 5 -->
          <div class="left5">
            <div class="title">Extra Skills</div>
            <div class="skillsWrapper">
              <div class="skills">
                <div class="skillIcon">
                  <img src="author/icon/Icons.svg" alt="Icon" />
                </div>
                <div class="skillName">
                  <%=user.extra_skills[0]%>, <%= user.extra_skills[1] %>
                </div>
              </div>

              <div class="skills">
                <div class="skillIcon">
                  <img src="author/icon/Icons.svg" alt="Icon" />
                </div>
                <div class="skillName">
                  <%=user.extra_skills[2]%>, <%= user.extra_skills[3] %>
                </div>
              </div>

              <div class="skills">
                <div class="skillIcon">
                  <img src="author/icon/Icons.svg" alt="Icon" />
                </div>
                <div class="skillName">
                  <%=user.extra_skills[4]%>, <%= user.extra_skills[5] %>
                </div>
              </div>

              <div class="skills">
                <div class="skillIcon">
                  <img src="author/icon/Icons.svg" alt="Icon" />
                </div>
                <div class="skillName"><%=user.extra_skills[6]%> %></div>
              </div>
            </div>
          </div>
          <div class="marginer"></div>

          <div class="download">
            Download CV
            <img
              src="author/icon/download.svg"
              alt=""
              style="margin-left: 19px"
            />
          </div>
        </div>
        <!-- Middle Frame -->
        <div class="mid_frame">
          <div class="userMainInfo">
            <div class="userText">
              <div class="jobTitle">
                Software Engineer in <br />
                <%=user.work_place%>
              </div>

              <div class="aboutMe"><%=user.about_me%></div>

              <button class="hireMe">
                Hire me
                <img src="author/icon/Frame.svg" alt="" />
              </button>
            </div>
            <div class="userImage">
              <img src="author/images/userBanner.png" alt="" />
            </div>

            <div class="absoluteIcons">
              <img
                src="author/box_images/yellow.svg"
                class="leftYellowCircle"
                alt=""
              />

              <img
                src="author/box_images/greenCircle.svg"
                class="greenCircle"
                alt=""
              />

              <img
                src="author/box_images/blueRectangle.svg"
                class="BlueRectangle"
                alt=""
              />

              <img
                src="author/box_images/greenCircle.svg"
                class="greenCircle2"
                alt=""
              />

              <img
                src="author/box_images/yellow.svg"
                class="yellowCircle2"
                alt=""
              />

              <img
                src="author/box_images/yellowRectangle.svg"
                class="yellowRectangle"
                alt=""
              />

              <img
                src="author/box_images/redRectangle.svg"
                class="redRectangle"
                alt=""
              />
            </div>
          </div>

          <div class="serviceText">My Service</div>
          <div class="serviceDescription">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor <br />
            do amet sint. Velit officia consequat duis enim velit mollit.
            <br />lorem ipsum
          </div>

          <div class="serviceWrapper">
            <div class="serviceType">
              <div class="serviceIcon" style="margin-top: 25px">
                <img src="author/icon/coding.png" alt="" />
              </div>
              <div class="serviveTitle">Web Development</div>
              <div class="serviveDetail">blog, e-commerce</div>
            </div>

            <div class="serviceType">
              <div class="serviceType">
                <div class="serviceIcon" style="margin-top: 25px">
                  <img src="author/icon/illustration.png" alt="" />
                </div>
                <div class="serviveTitle">uI/uX design</div>
                <div class="serviveDetail">Mobile app, website design</div>
              </div>
            </div>

            <div class="serviceType">
              <div class="serviceType">
                <div class="serviceIcon" style="margin-top: 25px">
                  <img src="author/icon/Microphone.png" alt="" />
                </div>
                <div class="serviveTitle">sound design</div>
                <div class="serviveDetail">Voice Over, Beat Making</div>
              </div>
            </div>
          </div>

          <div class="serviceWrapper">
            <div class="serviceType">
              <div class="serviceIcon" style="margin-top: 25px">
                <img src="author/icon/gameDev.png" alt="" />
              </div>
              <div class="serviveTitle">game design</div>
              <div class="serviveDetail">Character Design, Props & Objects</div>
            </div>

            <div class="serviceType">
              <div class="serviceType">
                <div class="serviceIcon" style="margin-top: 25px">
                  <img src="author/icon/Photographer.png" alt="" />
                </div>
                <div class="serviveTitle">photography</div>
                <div class="serviveDetail">portrait, product photography</div>
              </div>
            </div>

            <div class="serviceType">
              <div class="serviceType">
                <div class="serviveTitle">advertising</div>
                <div class="serviveDetail">
                  Lorem ipsum dolor sit amet, <br />
                  consectetur adipiscing elit. Vitae <br />
                  nulla diam in ac dictum a urna <br />
                  viverra morbi.
                </div>
                <div class="order">
                  Order Now
                  <img src="author/icon/orderIcon.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Right Frame -->
        <div class="right_frame">
          <div class="modeChanger">
            <img src="author/btn_icon/Contrast.png" alt="" />
          </div>

          <div class="infoIconsWrapper">
            <div class="iconWrap">
              <img src="author/btn_icon/Home.svg" class="rightIcon" alt="" />
            </div>

            <span class="tooltip">Home</span>
          </div>

          <div class="infoIconsWrapper">
            <div class="iconWrap">
              <img
                src="author/btn_icon/projects.svg"
                class="rightIcon"
                alt=""
              />
            </div>
            <span class="tooltip">Projects</span>
          </div>

          <div class="infoIconsWrapper">
            <div class="iconWrap">
              <img src="author/btn_icon/cv.svg" alt="" />
            </div>
            <span class="tooltip">Education</span>
          </div>

          <div class="infoIconsWrapper">
            <div class="iconWrap">
              <img src="author/btn_icon/Portfolio.svg" alt="" />
            </div>
            <span class="tooltip">Portfolio</span>
          </div>

          <div class="infoIconsWrapper">
            <div class="iconWrap">
              <img src="author/btn_icon/Blog.svg" alt="" />
            </div>
            <span class="tooltip">Blog</span>
          </div>

          <div class="infoIconsWrapper">
            <div class="iconWrap">
              <img src="author/btn_icon/Contact.svg" alt="" />
            </div>
            <span class="tooltip">Contact</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
